
:root
{
    background-color: hwb(0 0% 100%);
    font-family: "Isometra", sans-serif;

    border-radius: 4px;
    border-width: 24px;
    border-color:  hwb(0 0% 100%);
    border-style: solid;

    margin-left: 50vh;
    margin-right: 50vh;

}

h2
{
        background: linear-gradient(
        37deg,
        red,
        yellow,
        green);

        border-radius: 8px;
        border-width: 5px;
        border-color: lab(24.42% 0 0);
        border-style:solid;

        display: flex;
        justify-content: center;
        -webkit-text-stroke: 0.1px lab(69.24% 0 -0.01);

        padding-bottom: 12px;
        padding-top: 12px;
}

.PWG
{
    display: grid;
 /*    grid-template-columns: 3;
    grid-template-rows: 3; */
}

#password-length
{
    font-family: "Isometra", sans-serif;
    background-color: hsl(87, 81%, 79%);
    font-weight: bold;
    width: 60px;

    border-radius: 8px;
    border-width: 3.5px;
    border-style: solid;
    border-color: black;

}

#generate-btn
{
    display:flex;
    justify-content: center;
    border-radius: 12px;
    border-width: 3px;
    border-color: hwb(221 2% 26%);
    border-style: solid;

    font-family: "Isometra", sans-serif;
    
    background-color:hsl(0, 85%, 40%);
    box-shadow: 2px 2px 6px 1px black;

    width: 100px;
    height: 25px;

    margin-left:37%;

    position:relative;
    
}

#generate-btn:hover
{
    border-radius: 12px;
    background-color:#dee45a;
    box-shadow: 3px 3px 3px 3px black;
}

#generate-btn:active
{
    border-radius: 12px;
    background-color:#19b90a;
    box-shadow: 0px 0px 6px black;
}

#password-output
{
    font-family: "Isometra", sans-serif;

    border-radius: 10px;
    border-color: oklab(80.864% 0.01579 0.16193);
    border-width: 5px;
    border-style: solid;

    background-color:lch(84.96% 39.09 90.37);
}

#textBox
{
    color: red;
    -webkit-text-stroke: 1px hsl(0, 0%, 75%);

}

#Copy-btn
{
    font-family: "Isometra", sans-serif;
    background-color: #18bdd3;
    
    border-radius: 12px;
    border-width: 4px;
    border-color: hsl(251, 95%, 31%);

    width: 170px;
}

#Copy-btn:hover
{
    background-color: hsla(187, 80%, 46%, 0.676);
    
}

#Copy-btn:active
{
    background-color: hsla(64, 81%, 58%, 0.676);
}

#Btn-setup
{
    display:flex;
    justify-content: center;
    gap: 80px;
    margin-right: 100px;
    margin-top: 20px;
}


